---
// 底部版权信息组件
import { COLORS } from '../utils/constants';
const year = new Date().getFullYear();
const copyright = 'Official AI';
---

<ul class="flex items-center gap-3">
    <li>
        <span class="text-gray-500 dark:text-gray-400">©</span>
        <span class="text-gray-500 dark:text-gray-400">{year}</span> 
        <a href="/" class="copyright-link link-hover-primary text-gray-500 dark:text-gray-400">{copyright}</a>
    </li>
</ul>